@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #f8f8f8;
  --bg-color: #444444;
}
body {
  font-family: "Merriweather", serif;

  color: var(--bg-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--bg-color);
  color: #f8f8f8;
}
.nav-links ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-link a {
  padding: 0.5rem;
  display: block;
  font-weight: 200;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
  background-color: transparent;
}

.nav-link {
  list-style-type: none;
  margin-left: 2em;
}
.nav-link a:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.hamburger-menu {
  display: none;
}
header {
  background-color: #c0c0c0;
  text-align: center;
  padding: 1em;
  color: white;
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: clamp(50px,70px, 100px);
  margin-top: 0.2em;
}
.share-to-socials {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-icons {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}
.share-icon {
  background-color: var(--bg-color);
  padding: 0.8em;
  border-radius: 0.2em;
}
.share-icon a {
  color: var(--text-color);
}
.post-content {
    display: grid;
    place-items: center;
    margin: 2em;
}
.post-image {
    max-width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
}
.post-hook,.paragraph {
    max-width: 50em;
    margin: 1em 0;
}
.post-h1 {
    font-size: 30px;
}
.image {
  margin: 1em 1em;

}
.image img {
  max-width: 100%;
}
.post-tags  {
   display: flex;
   align-items: center;
}
.tag {
  background-color: var(--bg-color);
   color: var(--text-color);
   text-align: center;
   padding: 1em;
   margin: .2em;
   border-radius: 2em;
   cursor: pointer;
}
section.comments {
  margin: 2em;
}
section.comments h1 {
  font-size: 40px;
}
li {
  list-style-type: none;
}
.comments {
  margin-top: 1em;
}
.comment {
  display: flex;
  gap: 3em;
}
.comment-pfp img{
  width: 5em;
  height: 5em;
  border-radius: 50%;
}
.comment-body {
  max-width: 30em;
}
.comment-body .date {
  margin-top: .5em;
  margin-bottom: 1em;
}
.comment-body span {
  margin-top: 1em;
}
.comment-body a {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: .5em;
  text-decoration: none;
}
.comment-body p{
  margin-bottom: 1em;
}
.newsletter {
  background-color: #ffdf00;
  text-align: center;
  padding: 2em;
}
.newsletter-input-field {
  margin-top: 2em;
}
.newsletter-input-field input {
  padding: 1em;
  width: 20em;
  border: 1px solid var(--bg-color);
  background-color: #ffdf00;
  font-family: 'Merriweather', serif;
  appearance: none;
  outline: none;
  border-radius: .5em;
}

.newsletter-input-field button {
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 1em;
  border-radius: .5em;
  border: none;
  outline: none;
  margin-left: 1em;
  font-family: 'Merriweather', sans-serif;
}

.footer {
  background-color: #8d8c8c;
  color: var(--text-color);
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-about {

}
.footer-about p {
  margin-top: 2em;
  width: 20em;
}
.socials {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}
.social-icon {
  background-color: var(--bg-color);
  padding: .8em;
  border-radius: .2em;
}
.social-icon a {
  color: var(--text-color);
}

.ft-links {
  margin-top: 2em;
}
.footer-link {
  list-style-type: none;
}
.footer-link a {
  color: var(--text-color);
  text-decoration: none;
}
.footer-link::before {
  content: '-> ';
}
.footer-posts {
  margin-top: 2em;
  width: 25em;
}
.footer-post {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
  padding: .5em;
  transition: .2s;
}
.footer-post:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.footer-post img{
  width: 60px;
  height: 60px;
  border-radius: .2em;
}
.contact-me-element {
  display: flex;
  align-items: center;
  margin-top: 2em;
}